button-icon=/usr/share/icons/whiskermenu-catos.svg
launcher-show-name=true
launcher-show-description=true
favorites=xfce4-terminal.desktop,thunar.desktop,xfce-settings-manager.desktop
recent=
menu-width=400
menu-height=519
command-settings=xfce4-settings-manager
show-command-settings=true
command-lockscreen=xflock4
show-command-lockscreen=true
command-switchuser=false
show-command-switchuser=false
command-logout=xfce4-session-logout
show-command-logout=true
item-icon-size=2
category-icon-size=1
view-as-icons=false
position-search-alternate=false
position-commands-alternate=false
position-categories-alternate=false
