[Desktop Entry]
Type=Application
Name=Clonezilla
Comment=Create and restore disk images
Exec=/opt/recovery/bin/recovery-clonezilla
Icon=drive-harddisk
Categories=System;
Terminal=false
StartupNotify=true
