CONFIG_BUSYBOX=y
CONFIG_FEATURE_INSTALLER=y

CONFIG_ASH=y
CONFIG_SH_IS_ASH=y
CONFIG_ASH_JOB_CONTROL=y
CONFIG_FEATURE_SH_STANDALONE=y
CONFIG_FEATURE_PREFER_APPLETS=y
CONFIG_FEATURE_EDITING=y
CONFIG_FEATURE_EDITING_HISTORY=64
CONFIG_FEATURE_SH_MATH=y
CONFIG_FEATURE_SH_MATH_64=y

CONFIG_CAT=y
CONFIG_CHMOD=y
CONFIG_CLEAR=y
CONFIG_CP=y
CONFIG_DMESG=y
CONFIG_ECHO=y
CONFIG_HALT=y
CONFIG_HOSTNAME=y
CONFIG_HEAD=y
CONFIG_LN=y
CONFIG_LS=y
CONFIG_MKDIR=y
CONFIG_MKNOD=y
CONFIG_MOUNT=y
CONFIG_MV=y
CONFIG_POWEROFF=y
CONFIG_PRINTF=y
CONFIG_PS=y
CONFIG_REBOOT=y
CONFIG_RM=y
CONFIG_SETSID=y
CONFIG_SLEEP=y
CONFIG_SWITCH_ROOT=y
CONFIG_SYNC=y
CONFIG_UMOUNT=y
CONFIG_UNAME=y
CONFIG_CTTYHACK=y
