CONFIG_BUSYBOX=y
CONFIG_FEATURE_INSTALLER=y

CONFIG_ASH=y
CONFIG_SH_IS_ASH=y
CONFIG_ASH_JOB_CONTROL=y
CONFIG_FEATURE_SH_STANDALONE=y
CONFIG_FEATURE_PREFER_APPLETS=y
CONFIG_FEATURE_EDITING=y
CONFIG_FEATURE_EDITING_HISTORY=64
CONFIG_FEATURE_SH_MATH=y
CONFIG_FEATURE_SH_MATH_64=y

CONFIG_AWK=y
CONFIG_BASENAME=y
CONFIG_CMP=y
CONFIG_DIFF=y
CONFIG_BLKID=y
CONFIG_CAT=y
CONFIG_CHMOD=y
CONFIG_CHOWN=y
CONFIG_CLEAR=y
CONFIG_CP=y
CONFIG_CPIO=y
CONFIG_CUT=y
CONFIG_DATE=y
CONFIG_DD=y
CONFIG_DEPMOD=y
CONFIG_DF=y
CONFIG_DMESG=y
CONFIG_DU=y
CONFIG_ECHO=y
CONFIG_ENV=y
CONFIG_EXPR=y
CONFIG_FIND=y
CONFIG_FREE=y
CONFIG_GREP=y
CONFIG_GZIP=y
CONFIG_HALT=y
CONFIG_HEAD=y
CONFIG_HOSTNAME=y
CONFIG_ID=y
CONFIG_INIT=y
CONFIG_INSMOD=y
CONFIG_KILL=y
CONFIG_KILLALL=y
CONFIG_LN=y
CONFIG_LOGGER=y
CONFIG_MKTEMP=y
CONFIG_LS=y
CONFIG_LSMOD=y
CONFIG_MDEV=y
CONFIG_MKDIR=y
CONFIG_MKFIFO=y
CONFIG_MKNOD=y
CONFIG_MODINFO=y
CONFIG_MODPROBE=y
CONFIG_FEATURE_MODUTILS_ALIAS=y
CONFIG_DEFAULT_MODULES_DIR="/lib/modules"
CONFIG_DEFAULT_DEPMOD_FILE="modules.dep"
CONFIG_MOUNT=y
CONFIG_MV=y
CONFIG_POWEROFF=y
CONFIG_PRINTF=y
CONFIG_PS=y
CONFIG_PWD=y
CONFIG_READLINK=y
CONFIG_REALPATH=y
CONFIG_REBOOT=y
CONFIG_RM=y
CONFIG_RMDIR=y
CONFIG_RMMOD=y
CONFIG_SED=y
CONFIG_SETSID=y
CONFIG_SLEEP=y
CONFIG_SORT=y
CONFIG_STAT=y
CONFIG_SWITCH_ROOT=y
CONFIG_SYNC=y
CONFIG_TAIL=y
CONFIG_TAR=y
CONFIG_TEE=y
CONFIG_TEST=y
CONFIG_TEST1=y
CONFIG_TOUCH=y
CONFIG_TR=y
CONFIG_TRUE=y
CONFIG_TTY=y
CONFIG_UDHCPC=y
CONFIG_UMOUNT=y
CONFIG_UNAME=y
CONFIG_UNIQ=y
CONFIG_UPTIME=y
CONFIG_VI=y
CONFIG_WC=y
CONFIG_XARGS=y
CONFIG_CTTYHACK=y

CONFIG_FEATURE_MDEV_CONF=y
CONFIG_FEATURE_MDEV_DAEMON=y
CONFIG_FEATURE_MDEV_EXEC=y
CONFIG_FEATURE_MOUNT_FLAGS=y
CONFIG_FEATURE_MOUNT_FSTAB=y
